body, div, p, ol, ul, li, dl, dt, dd, form, table, tr, td, hr, h1, h2, h3, h4, h5, h6, fieldset, img, input, figure {
    margin: 0;
    padding: 0;
}

body,html{
    height:100%;
}

html{
    font-size: 26.67vw;
}


body{
    background: #f4f4f4;
    -webkit-flex-direction:column;
    font-family: "微软雅黑",Arial;

}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}
img{
    display: inline-block;
}
#ppi{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.app{
    width: 100%;
    height: 0.6rem;
    font-size: 0.18rem;
    line-height: 0.6rem;
}
.app span {
    display: inline-block;
}
.app .iconfont{
    color: #4a4a4c;
    font-size: 0.18rem;
}
.app span:nth-child(2) {
    display: inline-block;
    margin-left: 1.3rem;
    font-size: 0.23rem;
}
.app span:nth-child(3) {
    display: inline-block;
    float: right;
    color: #8a8a8a;
}
/**
zhongjian

 */
#app1{
    width: 100%;
    font-size:0.13rem;
    background: white;
    flex: 1;
    overflow-y: scroll;
}
.nav{
    width: 95%;
    margin: 0 auto;
}
.nav ul li{
    margin-top:0.2rem;
}
.nav input{
    display:inline-block;
    width: 0.18rem;
    height: 0.18rem;
}
.left{
    float: left;
    width: 10%;
}
.right img{
    width: 30%;
    height: 1.1rem;
    display: inline-block;
    float: left;
}
.left input{
    width: 100%;
    margin-top: 0.5rem;
}
.right{
    float: left;
    width: 90%;
}
.right p:nth-child(3){
    margin-top: 0.05rem;
}
.right p:nth-child(4){
    margin-top: 0.2rem;
    color:#fe3324;
    font-size: 0.2rem
}
.right1{
    float: right;
    color: black;
}
.right1 input{
    width: 0.2rem;
    height: 0.2rem;
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.4rem;
}
button{
    width: 0.18rem;
    height: 0.18rem;
}
#app1 button{
    width:0.18rem;
    height:0.18rem;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.17rem;
}
/*input[type='checkbox']:checked{*/
    /*-webkit-appearance:none;*/
    /*background-size:0.18rem 0.18rem;*/
    /*border:none;*/

/*}*/
/*
fotter
*/
#fotter{
    width: 100%;
    height: 0.65rem;
    display: flex;
    line-height: 0.32rem;
    justify-content: space-around;
    font-size: 0.13rem;
    background: white;
    text-align: center;
    position: relative;
}
#fotter .iconfont {
    font-size:0.25rem;
    display: block;
}
.fotter1{
    width: 100%;
    height: 0.65rem;
    position: absolute;
    top: -0.65rem;
    display: flex;
    background: white;
    display: flex;
    justify-content: space-between;
}
.fotter1 p{
    display: inline-block;
}
.fotter1 p:nth-child(1){
     font-size: 0.14rem;
    line-height: 0.65rem;
    margin-left: 0.1rem;
}
.fotter1 p:nth-child(1) input{
    width: 0.18rem;
    height: 0.18rem;
}
.fotter1 p:nth-child(2){
    width:1rem;
    height: 0.65rem;
    font-size: 0.2rem;
    line-height: 0.65rem;
    background: #e73823;
    color: white;
}


